body {

	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 14px;
	color: #4d4e53;
    margin: 0;
    padding: 0;
    background-color: #e9eaed;
}

.body{
	margin: 0 auto;
	width: 750px;
} 
#banner{
	background-color:#4c66a4;
	height: 68px;
}
#banner-wrap{
	text-decoration: none;
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 15px;
}
.sub{
	float : left;
	width: 50%;
	line-height: 30px;
}

#page-ul,#page-ul-fav,#page-abstract{
	margin-top: 25px;
	list-style: none;
}

#page-ul li,#page-ul-fav li,#page-abstract li{
	margin-bottom: 10px;
	border: 0px solid black;
	height: 140px;
	padding: 14px 0px 0px 40px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: white;
}
#page-ul span,#page-ul-fav span,#page-abstract span{
	font-weight: bold;
}
/* #header{
	text-align: center;
} */
.more{
	font-size: 12px;
 	float: right; 
	padding: 25px;
}
img{
	width: 600px;
	height: 220px;
}

#search {
	width: 260px;
	height: 36px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
::-webkit-input-placeholder {
   padding-left: 10px;
}

:-moz-placeholder { /* Firefox 18- */
   padding-left: 10px;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-left: 10px;
}

:-ms-input-placeholder {  
   padding-left: 10px; 
}

#submit {
	width: 120px;
	height: 30px;
	margin-bottom: 10px;
}
#search-input {
	padding: 10px 180px;
}
.disable{
	visibility: hidden;
}  
#error-msg {
	font-size: 12px;
	color: red;
	float: right;
}
.hide-img{
	display: none;
}

#favourite,#searchfav{
	margin-left: 90px;
	font-size: 16px;
}


.hidden{
	display: none;
}
#desc {
	font-size: 15px;
	padding-left: 250px;
	font-weight: bold;
}
.show{
	display: block;
}
#favouritesLink {
	float: right;
	padding: 60px 35px 0px 0px;
	font-size: 12px;
}
.more-details{
	font-size: 12px;
}

#page-ul-fav li{
	height: 200px;
}
#access-app {
	margin: 64px 0px 80px 0px;
	font-size: 20px;
	text-align: center;
}
#pagination {
	margin-bottom: 5px;
}
#pagination #left{
	float: left;
	margin-left:40px;
}
#pagination #right{
	float: right;
}
#left, #right {
	width: 100px;
	height: 30px;
}
#linksarea{
	margin-top:10px;
}
#app-info li{
	line-height:22px;
}
